// COLORS
@light: #eeeeee;
@dark: #333333;
@strong: #c87c30;

// FONT-SIZE
// desktop
@d-xs: 13px;
@d-s: 16px;
@d-m: 20px;
@d-l: 24px;
@d-xl: 32px;

// mobile
@m-xs: 10px;
@m-s: 13px;
@m-m: 16px;
@m-l: 20px;
@m-xl: 24px;

// FONT
@title: 'Montserrat', serif;
@text: 'Monda', sans-serif;

// BORDER
@border-3: 3px solid @strong;

// BORDER RADIUS
@round: 50%;
